/* import inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


body {
	margin: 0;
	box-sizing: border-box;
	font-style: sans-serif;
	background: #FFF;

	font-family: "Inter", sans-serif;
	color: var(--font-body);
}

header {
	width: 100vw;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background-color: white;
}

nav {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 16px; /* Ajusta este valor según el espacio deseado entre botones */
  }
  
  nav button {
	background-color: rgb(167, 127, 54);
	width: 100%;
	padding: 10px;
	text-align: center;
	border-radius: 5px;
  }

main {
	margin-top: 5vh;

	width: auto;

}

/*  Cards   */

/* root */
:root {
	--bg-light: #F5F5FC;
	--bg-dark: #35353C;
	--bg-darker: #15151C;
	--font-body: #55555C;
	--shadow: #C5C5CC;
}


.demo_title h1,
h6 {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--bg-darker);
}


/* tpn card style */
.tpn_card {
	background: var(--bg-light);
	padding: 23px;
	border-radius: 27px;
}

.tpn_card img {
	border-radius: 23px;
	box-shadow: 1px 7px 13px var(--shadow);
}

.tpn_card h5 {
	color: var(--bg-dark);
}

.tpn_card p {
	color: var(--font-body);
	font-weight: 400;
	margin-bottom: 24px;
}

.tpn_card .tpn_btn {
	padding: 13px 27px !important;
	line-height: normal;
	background: var(--bg-dark);
	border-radius: 17px;
	text-decoration: none;
	color: #FFF;
	box-shadow: 1px 7px 13px var(--shadow);
	transition: all .7s ease;
}

.tpn_card .tpn_btn:hover {
	background: var(--bg-darker);
	box-shadow: none;
}

footer {
	margin-top: 5vh;
	width: auto;
	height: 15vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: black;
}

svg{
	color: yellow;
}

.footer-copy{
	height: 15vh;
	display: flex;
	flex-direction: column;
	margin-left: 20px;

}

 .bi-linkedin{
	color: black;
 }